<!-- Links to other profiles (not including the current user) -->
<div id="side-bar">
<% const otherProfiles = allProfiles.filter(otherProfile => otherProfile.id !== profile.id); %>
<% if (otherProfiles.length > 0) { %>
    <h3>Other Profiles:</h3>
    <ul>
        <% otherProfiles.forEach(otherProfile => { %>
            <li>
                <a href="./<%= otherProfile.id %>"><%= otherProfile.name %></a>
            </li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No other profiles found.</p>
<% } %>
</div>

