<!-- views/profiles.ejs -->
<body>

    <h2>User Profiles</h2>
    <ul>
        <% profiles.forEach(profile => { %>
            <li>
                <a href="./profiles/<%= profile.id %>"><%= profile.name %></a>
            </li>
        <% }); %>
        </ul>
</body>
