<!-- views/profiles.ejs -->
<body>
    <h1>User Profiles</h1>
    <ul>
        <% profiles.forEach(profile => { %>
            <li>
                <a href="./profiles/<%= profile.id %>"><%= profile.name %></a>
            </li>
        <% }); %>
</body>
