<!-- views/profiles.ejs -->
<main id = "profile-list">
    <h1>Developer Profiles</h1>
    <ul>
        <% profiles.forEach(profile=> { %>
            <li>
                <a href="./profiles/<%= profile.id %>">
                    <%= profile.name %>
                </a>
            </li>
            <% }); %>
</main>